table {
    width: 100%;
  }
.mat-success {
    background-color: #5cb85c;
    color: #fff;
}
.mat-grey {
    background-color: grey;
    color: #fff;
}
.mat-yellow {
    background-color: #f5c22b;
    color: #fff;
}