<h3 mat-dialog-title>Select Slots</h3>

<mat-dialog-content>
  <div class="col-12">
      <mat-radio-group [(ngModel)]="slotSelected">
          <mat-radio-button [value]="slot" [disabled]="slot.status == 1"  *ngFor="let slot of slots; let i = index" (click)="onChangeslot(slot)">{{slot.start_time + " - " + slot.end_time}}</mat-radio-button>
      </mat-radio-group>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" [disabled]="!slotSelected" (click)="setSlot()" mat-button class="mat-raised-button mat-primary">Go</button>
</mat-dialog-actions>