<h3 mat-dialog-title>Select Slots</h3>

<mat-dialog-content>
  <div class="col-12">
      <mat-radio-group [(ngModel)]="slotSelected">
          <mat-radio-button [value]="slot" [disabled]="slot.status == 1"  *ngFor="let slot of slots; let i = index" (click)="onChangeslot(slot)">
            <a type="button"  mat-button class="mat-raised-button" [ngClass]="{'mat-success': slot.patient_enrolled == 0 || (slot.patient_enrolled < (slot.max_patient_allowed/2)),'mat-yellow': slot.patient_enrolled >= (slot.max_patient_allowed/2),'mat-grey': slot.patient_enrolled != 0 && (slot.patient_enrolled == slot.max_patient_allowed)}">{{slot.start_time + " - " + slot.end_time}}</a>
            {{slot.patient_enrolled + "/" + slot.max_patient_allowed}}
          </mat-radio-button>
      </mat-radio-group>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" [disabled]="!slotSelected" (click)="setSlot()" mat-button class="mat-raised-button mat-primary">Go</button>
</mat-dialog-actions>